In [1]:
import pandas as pd
from sqlalchemy import create_engine
from secret import username, password

In [2]:
#importing videogame database
vgdf = pd.read_csv("vgsales.csv")
vgdf

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [3]:
#removing older platforms of which we can't gather reviews online per Tanner
# Dropping null values from df
to_drop = ['NES', 'SNES', 'SAT', '2600', 'GB', 'GEN', 'NG', 'SCD', 'WS', '3DO', 'TG16', 'GG', 'PCFX']
vgdf_plat_clean = vgdf[~vgdf['Platform'].isin(to_drop)]
vgdf_plat_clean = vgdf_plat_clean.dropna()
vgdf_plat_clean = vgdf_plat_clean.drop_duplicates(subset=['Name', 'Platform'], keep='first')
vgdf_plat_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15507 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          15507 non-null  int64
 1   Name          15507 non-null  object
 2   Platform      15507 non-null  object
 3   Year          15507 non-null  float64
 4   Genre         15507 non-null  object
 5   Publisher     15507 non-null  object
 6   NA_Sales      15507 non-null  float64
 7   EU_Sales      15507 non-null  float64
 8   JP_Sales      15507 non-null  float64
 9   Other_Sales   15507 non-null  float64
 10  Global_Sales  15507 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

#### Publisher ID Table

In [4]:
#creating publisher table with id determined by its index #
vg_publisher_df = pd.DataFrame({'publisher':vgdf_plat_clean['Publisher'].unique()})
vg_publisher_df.index.name='publisher_id'
vg_publisher_df

                                publisher
publisher_id
0                                Nintendo
1                  Microsoft Game Studios
2                    Take-Two Interactive
3             Sony Computer Entertainment
4                              Activision
...                                   ...
519                          Inti Creates
520                                Takuyo
521                    Interchannel-Holon
522                            Rain Games
523                     UIG Entertainment

[524 rows x 1 columns]

In [5]:
vg_publisher_df.dropna(subset=['publisher'], inplace=True)
vg_publisher_df

                                publisher
publisher_id
0                                Nintendo
1                  Microsoft Game Studios
2                    Take-Two Interactive
3             Sony Computer Entertainment
4                              Activision
...                                   ...
519                          Inti Creates
520                                Takuyo
521                    Interchannel-Holon
522                            Rain Games
523                     UIG Entertainment

[524 rows x 1 columns]

#### Platform ID Table

In [6]:
#creating platform table with id determined by its index #
vg_platform_df = pd.DataFrame({'platform_name':vgdf_plat_clean['Platform'].unique()})
vg_platform_df.index.name='id'
vg_platform_df

   platform_name
id
0            Wii
1             DS
2           X360
3            PS3
4            PS2
5            GBA
6            3DS
7            PS4
8            N64
9             PS
10            XB
11            PC
12           PSP
13          XOne
14            GC
15          WiiU
16            DC
17           PSV

#### Genre ID Table

In [7]:
vg_genre_df = pd.DataFrame({'genre':vgdf_plat_clean['Genre'].unique()})
vg_genre_df.index.name='id'
vg_genre_df

           genre
id
0         Sports
1         Racing
2       Platform
3           Misc
4     Simulation
5         Action
6   Role-Playing
7         Puzzle
8        Shooter
9       Fighting
10     Adventure
11      Strategy

### Replace platform names with id's - TEST

In [8]:
#Test
#Creating dictionary with platform_id and platform - then inversing key/value to format a dictionary that can then be used to
#replace platform with id in other cleaned tables

platformdict = vg_platform_df.to_dict('index')
platformdict

for key in platformdict:
    platformdict[key] = platformdict[key]["platform_name"]
    
platformdict
    
platformdict_s = {value:key for key, value in platformdict.items()}
platformdict_s

{'Wii': 0,
 'DS': 1,
 'X360': 2,
 'PS3': 3,
 'PS2': 4,
 'GBA': 5,
 '3DS': 6,
 'PS4': 7,
 'N64': 8,
 'PS': 9,
 'XB': 10,
 'PC': 11,
 'PSP': 12,
 'XOne': 13,
 'GC': 14,
 'WiiU': 15,
 'DC': 16,
 'PSV': 17}

In [9]:
#test platform_id replace in Platform column 
vgdf_replacer = {
    "Platform": platformdict_s
}
vgdf.replace(vgdf_replacer)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,0,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,0,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,0,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,5,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,14,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,4,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,1,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,5,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

### Add id's to tables formatted by Tyler - Game Title, Sales

#### Game Title

In [10]:
#import transformed game title table in for publisher id transformation
game_title_df = pd.read_csv('title.csv')
game_title_df = game_title_df.set_index('title_id')
game_title_df

,game_title,year_released,publisher,genre
title_id,,,,
0,Wii Sports,2006.0,Nintendo,Sports
1,Mario Kart Wii,2008.0,Nintendo,Racing
2,Wii Sports Resort,2009.0,Nintendo,Sports
3,New Super Mario Bros.,2006.0,Nintendo,Platform
4,Wii Play,2006.0,Nintendo,Misc
...,...,...,...,...
10659,Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shiru...,2016.0,dramatic create,Action
10660,Eiyuu Densetsu: Sora no Kiseki Material Collec...,2007.0,Falcom Corporation,Role-Playing
10661,Plushees,2008.0,Destineer,Simulation
10662,Woody Woodpecker in Crazy Castle 5,2002.0,Kemco,Platform
10663,Know How 2,2010.0,7G//AMES,Puzzle

In [11]:
#create publisher id dict for replacing in publisher column of table
#use vg_publisher_df from before

publisherdict = vg_publisher_df.to_dict('index')
publisherdict

for key in publisherdict:
    publisherdict[key] = publisherdict[key]["publisher"]
    
publisherdict_s = {value:key for key, value in publisherdict.items()}
publisherdict_s

{'Nintendo': 0,
 'Microsoft Game Studios': 1,
 'Take-Two Interactive': 2,
 'Sony Computer Entertainment': 3,
 'Activision': 4,
 'Ubisoft': 5,
 'Bethesda Softworks': 6,
 'Electronic Arts': 7,
 'Sega': 8,
 'SquareSoft': 9,
 '505 Games': 10,
 'GT Interactive': 11,
 'Konami Digital Entertainment': 12,
 'Sony Computer Entertainment Europe': 13,
 'Square Enix': 14,
 'LucasArts': 15,
 'Virgin Interactive': 16,
 'Warner Bros. Interactive Entertainment': 17,
 'Capcom': 18,
 'Universal Interactive': 19,
 'Eidos Interactive': 20,
 'RedOctane': 21,
 'Atari': 22,
 'Vivendi Games': 23,
 'Enix Corporation': 24,
 'Namco Bandai Games': 25,
 'Hasbro Interactive': 26,
 'THQ': 27,
 'Fox Interactive': 28,
 'Acclaim Entertainment': 29,
 'MTV Games': 30,
 'Disney Interactive Studios': 31,
 'Majesco Entertainment': 32,
 'Codemasters': 33,
 'Red Orb': 34,
 'Level 5': 35,
 'Midway Games': 36,
 'JVC': 37,
 'Deep Silver': 38,
 '989 Studios': 39,
 'NCSoft': 40,
 'UEP Systems': 41,
 'Maxis': 42,
 'Tecmo Koei': 43,
 'Valve Software': 44,
 'ASCII Entertainment': 45,
 'Mindscape': 46,
 'Infogrames': 47,
 'Unknown': 48,
 'Valve': 49,
 'Activision Value': 50,
 'D3Publisher': 51,
 'Oxygen Interactive': 52,
 'Red Storm Entertainment': 53,
 'Video System': 54,
 'Hello Games': 55,
 'Global Star': 56,
 'Gotham Games': 57,
 'Westwood Studios': 58,
 'GungHo': 59,
 'Crave Entertainment': 60,
 'Rising Star Games': 61,
 'Atlus': 62,
 'TDK Mediactive': 63,
 'ASC Games': 64,
 'Zoo Games': 65,
 'Accolade': 66,
 'Sony Online Entertainment': 67,
 '3DO': 68,
 'RTL': 69,
 'Natsume': 70,
 'Focus Home Interactive': 71,
 'Alchemist': 72,
 'Black Label Games': 73,
 'SouthPeak Games': 74,
 'Mastertronic': 75,
 'Ocean': 76,
 'Zoo Digital Publishing': 77,
 'Psygnosis': 78,
 'City Interactive': 79,
 'Empire Interactive': 80,
 'Success': 81,
 'Compile': 82,
 'Russel': 83,
 'Taito': 84,
 'Agetec': 85,
 'GSP': 86,
 'Microprose': 87,
 'Play It': 88,
 'Hudson Soft': 89,
 'Slightly Mad Studios': 90,
 'Tomy Corporation': 91,
 'Sammy Corporation': 92,
 'Koch Media': 93,
 'Game Factory': 94,
 'Titus': 95,
 'Marvelous Entertainment': 96,
 'Genki': 97,
 'Mojang': 98,
 'Pinnacle': 99,
 'CTO SpA': 100,
 'TalonSoft': 101,
 'Crystal Dynamics': 102,
 'SCi': 103,
 'mixi, Inc': 104,
 'Rage Software': 105,
 'Ubisoft Annecy': 106,
 'Scholastic Inc.': 107,
 'Interplay': 108,
 'Square EA': 109,
 'Banpresto': 110,
 'Avanquest Software': 111,
 'Hudson Entertainment': 112,
 'Nordic Games': 113,
 'Nobilis': 114,
 'Big Ben Interactive': 115,
 'Touchstone': 116,
 'Spike': 117,
 'Jester Interactive': 118,
 'Nippon Ichi Software': 119,
 'LEGO Media': 120,
 'Illusion Softworks': 121,
 'Funbox Media': 122,
 'Rocket Company': 123,
 'Metro 3D': 124,
 'IE Institute': 125,
 'Rondomedia': 126,
 'Sony Computer Entertainment America': 127,
 'Ghostlight': 128,
 'Square': 129,
 'BMG Interactive Entertainment': 130,
 'PQube': 131,
 'Trion Worlds': 132,
 'Ignition Entertainment': 133,
 'Kadokawa Shoten': 134,
 'Destineer': 135,
 'Enterbrain': 136,
 'Xseed Games': 137,
 'System 3 Arcade Software': 138,
 'Aruze Corp': 139,
 'Gamebridge': 140,
 'Midas Interactive Entertainment': 141,
 'Jaleco': 142,
 'XS Games': 143,
 'Activision Blizzard': 144,
 'Pack In Soft': 145,
 'Rebellion': 146,
 'Xplosiv': 147,
 'GameMill Entertainment': 148,
 'Wanadoo': 149,
 'NovaLogic': 150,
 'Telltale Games': 151,
 'BAM! Entertainment': 152,
 'Knowledge Adventure': 153,
 'Mastiff': 154,
 'Tetris Online': 155,
 'Harmonix Music Systems': 156,
 'ChunSoft': 157,
 'TYO': 158,
 'Telegames': 159,
 'Mud Duck Productions': 160,
 'Screenlife': 161,
 'Pioneer LDC': 162,
 'Magical Company': 163,
 'Mentor Interactive': 164,
 'Kemco': 165,
 'Avanquest': 166,
 'Electronic Arts Victor': 167,
 'Human Entertainment': 168,
 'Black Bean Games': 169,
 'Jack of All Games': 170,
 '989 Sports': 171,
 'Takara Tomy': 172,
 'Starfish': 173,
 'Zushi Games': 174,
 'Jorudan': 175,
 'Destination Software, Inc': 176,
 'New': 177,
 'Brash Entertainment': 178,
 'PopCap Games': 179,
 'Home Entertainment Suppliers': 180,
 'Ackkstudios': 181,
 'Takara': 182,
 'P2 Games': 183,
 'Gathering of Developers': 184,
 'NewKidCo': 185,
 'Storm City Games': 186,
 'CokeM Interactive': 187,
 'Magix': 188,
 'Marvelous Interactive': 189,
 'Kalypso Media': 190,
 'Nihon Falcom Corporation': 191,
 'Wargaming.net': 192,
 'Arc System Works': 193,
 'Playmates': 194,
 'Hamster Corporation': 195,
 'From Software': 196,
 'Nippon Columbia': 197,
 'Little Orbit': 198,
 'Conspiracy Entertainment': 199,
 'DTP Entertainment': 200,
 'Mumbo Jumbo': 201,
 'Pacific Century Cyber Works': 202,
 'Indie Games': 203,
 'Liquid Games': 204,
 'Axela': 205,
 'ArtDink': 206,
 'Sunsoft': 207,
 'Gust': 208,
 'FuRyu': 209,
 'Xing Entertainment': 210,
 'ValuSoft': 211,
 'Detn8 Games': 212,
 'American Softworks': 213,
 'Nordcurrent': 214,
 'Falcom Corporation': 215,
 'AQ Interactive': 216,
 'Mattel Interactive': 217,
 'Imagineer': 218,
 'CCP': 219,
 'Milestone S.r.l.': 220,
 'JoWood Productions': 221,
 'Seta Corporation': 222,
 'On Demand': 223,
 'Aspyr': 224,
 'Gremlin Interactive Ltd': 225,
 'Agatsuma Entertainment': 226,
 'Compile Heart': 227,
 'Mad Catz': 228,
 'Shogakukan': 229,
 'Merscom LLC': 230,
 'Rebellion Developments': 231,
 'TDK Core': 232,
 'bitComposer Games': 233,
 'Foreign Media Games': 234,
 'Astragon': 235,
 'SSI': 236,
 'Kadokawa Games': 237,
 'Idea Factory': 238,
 'Performance Designed Products': 239,
 'Media Rings': 240,
 'Asylum Entertainment': 241,
 'Core Design Ltd.': 242,
 'Victor Interactive': 243,
 'PlayV': 244,
 'UFO Interactive': 245,
 'Idea Factory International': 246,
 'Playlogic Game Factory': 247,
 'Essential Games': 248,
 'SNK': 249,
 'Adeline Software': 250,
 'Funcom': 251,
 'Panther Software': 252,
 'Blast! Entertainment Ltd': 253,
 'Game Life': 254,
 'DSI Games': 255,
 'Popcorn Arcade': 256,
 'Neko Entertainment': 257,
 'Vir2L Studios': 258,
 'Aques': 259,
 'Syscom': 260,
 'White Park Bay Software': 261,
 'System 3': 262,
 'Vatical Entertainment': 263,
 'Daedalic': 264,
 'EA Games': 265,
 'Media Factory': 266,
 'Epoch': 267,
 'Vic Tokai': 268,
 'The Adventure Company': 269,
 'Broccoli': 270,
 'Acquire': 271,
 'General Entertainment': 272,
 'Excalibur Publishing': 273,
 'Swing! Entertainment': 274,
 'Sony Music Entertainment': 275,
 'Aqua Plus': 276,
 'Paradox Interactive': 277,
 'Hip Interactive': 278,
 'DreamCatcher Interactive': 279,
 'Tripwire Interactive': 280,
 'Sting': 281,
 'Yacht Club Games': 282,
 'SCS Software': 283,
 'Bigben Interactive': 284,
 'Havas Interactive': 285,
 'Slitherine Software': 286,
 'Graffiti': 287,
 'Funsta': 288,
 'Telstar': 289,
 'U.S. Gold': 290,
 'DreamWorks Interactive': 291,
 'Data Design Interactive': 292,
 'MTO': 293,
 'DHM Interactive': 294,
 'FunSoft': 295,
 'SPS': 296,
 'Bohemia Interactive': 297,
 'Reef Entertainment': 298,
 'Tru Blu Entertainment': 299,
 'Moss': 300,
 'O-Games': 301,
 'Aksys Games': 302,
 'NDA Productions': 303,
 'Time Warner Interactive': 304,
 'Gainax Network Systems': 305,
 'Daito': 306,
 'SNK Playmore': 307,
 'O3 Entertainment': 308,
 'Gameloft': 309,
 'Xicat Interactive': 310,
 'Simon & Schuster Interactive': 311,
 'Valcon Games': 312,
 'PopTop Software': 313,
 'HMH Interactive': 314,
 '5pb': 315,
 'Cave': 316,
 'CDV Software Entertainment': 317,
 'Microids': 318,
 'PM Studios': 319,
 'Paon': 320,
 'Avalon Interactive': 321,
 'GameTek': 322,
 'Benesse': 323,
 'Type-Moon': 324,
 'Enjoy Gaming ltd.': 325,
 'Interplay Productions': 326,
 'Asmik Ace Entertainment': 327,
 'inXile Entertainment': 328,
 'Image Epoch': 329,
 'Phantom EFX': 330,
 'Evolved Games': 331,
 'responDESIGN': 332,
 'Culture Publishers': 333,
 'Griffin International': 334,
 'Hackberry': 335,
 'Hearty Robin': 336,
 'Nippon Amuse': 337,
 'Origin Systems': 338,
 'Seventh Chord': 339,
 'Mitsui': 340,
 'Milestone': 341,
 'Abylight': 342,
 'NEC Interchannel': 343,
 'Flight-Plan': 344,
 'Locus': 345,
 'Daedalic Entertainment': 346,
 'Alternative Software': 347,
 'Myelin Media': 348,
 'Mercury Games': 349,
 'Irem Software Engineering': 350,
 'Sunrise Interactive': 351,
 'Elite': 352,
 'Evolution Games': 353,
 'Tivola': 354,
 'Global A Entertainment': 355,
 'Edia': 356,
 'Athena': 357,
 'Aria': 358,
 'Gamecock': 359,
 'Tommo': 360,
 'Altron': 361,
 'Happinet': 362,
 'iWin': 363,
 'Media Works': 364,
 'Fortyfive': 365,
 'Revolution Software': 366,
 'Crimson Cow': 367,
 '10TACLE Studios': 368,
 'Groove Games': 369,
 'Insomniac Games': 370,
 'Ascaron Entertainment GmbH': 371,
 'Asgard': 372,
 'Ecole': 373,
 'Phenomedia': 374,
 'Grand Prix Games': 375,
 'DigiCube': 376,
 'Creative Core': 377,
 'Kaga Create': 378,
 'WayForward Technologies': 379,
 'LSP Games': 380,
 'ASCII Media Works': 381,
 'Arika': 382,
 'Ertain': 383,
 'Marvel Entertainment': 384,
 'Prototype': 385,
 'Phantagram': 386,
 '1C Company': 387,
 'The Learning Company': 388,
 'TechnoSoft': 389,
 'Tradewest': 390,
 'Team17 Software': 391,
 'Yeti': 392,
 'ESP': 393,
 'Navarre Corp': 394,
 'MediaQuest': 395,
 'Max Five': 396,
 'Comfort': 397,
 'Monte Christo Multimedia': 398,
 'Pony Canyon': 399,
 'Riverhillsoft': 400,
 'Summitsoft': 401,
 'Milestone S.r.l': 402,
 'Playmore': 403,
 'MLB.com': 404,
 'Kool Kizz': 405,
 'Flashpoint Games': 406,
 '49Games': 407,
 'Legacy Interactive': 408,
 'Alawar Entertainment': 409,
 'CyberFront': 410,
 'Cloud Imperium Games Corporation': 411,
 'Virtual Play Games': 412,
 'Interchannel': 413,
 'Hect': 414,
 'Experience Inc.': 415,
 'Zenrin': 416,
 'Iceberg Interactive': 417,
 'Ivolgamus': 418,
 '2D Boy': 419,
 'MC2 Entertainment': 420,
 'Kando Games': 421,
 'Just Flight': 422,
 'Office Create': 423,
 'Mamba Games': 424,
 'Fields': 425,
 'Princess Soft': 426,
 'Maximum Family Games': 427,
 'Berkeley': 428,
 'Fuji': 429,
 'Dusenberry Martin Racing': 430,
 'imageepoch Inc.': 431,
 'Big Fish Games': 432,
 'Her Interactive': 433,
 'Kamui': 434,
 'TopWare Interactive': 435,
 'Headup Games': 436,
 'Cygames': 437,
 'Quinrose': 438,
 'Sunflowers': 439,
 'dramatic create': 440,
 'TGL': 441,
 'Encore': 442,
 'Extreme Entertainment Group': 443,
 'Intergrow': 444,
 'G.Rev': 445,
 'Sweets': 446,
 'Kokopeli Digital Studios': 447,
 'Number None': 448,
 'Nexon': 449,
 'id Software': 450,
 'BushiRoad': 451,
 'Tryfirst': 452,
 'Strategy First': 453,
 '7G//AMES': 454,
 'GN Software': 455,
 "Yuke's": 456,
 'Easy Interactive': 457,
 'Licensed 4U': 458,
 'FuRyu Corporation': 459,
 'Lexicon Entertainment': 460,
 'Paon Corporation': 461,
 'Kids Station': 462,
 'GOA': 463,
 'KID': 464,
 'Graphsim Entertainment': 465,
 'King Records': 466,
 'Introversion Software': 467,
 'Minato Station': 468,
 'Devolver Digital': 469,
 'Blue Byte': 470,
 'Yamasa Entertainment': 471,
 'Plenty': 472,
 'Views': 473,
 'fonfun': 474,
 'NetRevo': 475,
 'Coconuts Japan': 476,
 'Codemasters Online': 477,
 'Phoenix Games': 478,
 'Dorart': 479,
 'Marvelous Games': 480,
 'Focus Multimedia': 481,
 'Karin Entertainment': 482,
 'Aerosoft': 483,
 'Gakken': 484,
 'Mirai Shounen': 485,
 'Datam Polystar': 486,
 'Culture Brain': 487,
 'Saurus': 488,
 'HuneX': 489,
 'Revolution (Japan)': 490,
 'Giza10': 491,
 'Visco': 492,
 'Alvion': 493,
 'Mycom': 494,
 'Giga': 495,
 'Warashi': 496,
 'System Soft': 497,
 'Sold Out': 498,
 'Lighthouse Interactive': 499,
 'Masque Publishing': 500,
 'RED Entertainment': 501,
 'Michaelsoft': 502,
 'Media Entertainment': 503,
 'New World Computing': 504,
 'Genterprise': 505,
 'Interworks Unlimited, Inc.': 506,
 'Boost On': 507,
 'Stainless Games': 508,
 'EON Digital Entertainment': 509,
 'Epic Games': 510,
 'Naxat Soft': 511,
 'Ascaron Entertainment': 512,
 'Piacci': 513,
 'Nitroplus': 514,
 'Paradox Development': 515,
 'Otomate': 516,
 'Ongakukan': 517,
 'Commseed': 518,
 'Inti Creates': 519,
 'Takuyo': 520,
 'Interchannel-Holon': 521,
 'Rain Games': 522,
 'UIG Entertainment': 523}

In [12]:
genredict = vg_genre_df.to_dict('index')

for key in genredict:
    genredict[key] = genredict[key]["genre"]
    
genredict_s = {value:key for key, value in genredict.items()}
genredict_s

{'Sports': 0,
 'Racing': 1,
 'Platform': 2,
 'Misc': 3,
 'Simulation': 4,
 'Action': 5,
 'Role-Playing': 6,
 'Puzzle': 7,
 'Shooter': 8,
 'Fighting': 9,
 'Adventure': 10,
 'Strategy': 11}

In [13]:
#replace publisher w/ publisher_id and genre_id in game title df
pub_id_replacer = {
    "publisher": publisherdict_s,
    "genre": genredict_s
}
game_title_df = game_title_df.replace(pub_id_replacer)
game_title_df = game_title_df.rename(columns={'publisher':'publisher_id', 'genre':'genre_id'})
game_title_df

,game_title,year_released,publisher_id,genre_id
title_id,,,,
0,Wii Sports,2006.0,0,0
1,Mario Kart Wii,2008.0,0,1
2,Wii Sports Resort,2009.0,0,0
3,New Super Mario Bros.,2006.0,0,2
4,Wii Play,2006.0,0,3
...,...,...,...,...
10659,Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shiru...,2016.0,440,5
10660,Eiyuu Densetsu: Sora no Kiseki Material Collec...,2007.0,215,6
10661,Plushees,2008.0,135,4
10662,Woody Woodpecker in Crazy Castle 5,2002.0,165,2
10663,Know How 2,2010.0,454,7

In [14]:
game_title_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10664 entries, 0 to 10663
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   game_title     10664 non-null  object
 1   year_released  10664 non-null  float64
 2   publisher_id   10664 non-null  int64
 3   genre_id       10664 non-null  int64
dtypes: float64(1), int64(2), object(1)
memory usage: 416.6+ KB

In [15]:
game_title_df = game_title_df.astype({'year_released':int})

In [16]:
game_title_df.index.name = "id"
game_title_df

,game_title,year_released,publisher_id,genre_id
id,,,,
0,Wii Sports,2006,0,0
1,Mario Kart Wii,2008,0,1
2,Wii Sports Resort,2009,0,0
3,New Super Mario Bros.,2006,0,2
4,Wii Play,2006,0,3
...,...,...,...,...
10659,Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shiru...,2016,440,5
10660,Eiyuu Densetsu: Sora no Kiseki Material Collec...,2007,215,6
10661,Plushees,2008,135,4
10662,Woody Woodpecker in Crazy Castle 5,2002,165,2
10663,Know How 2,2010,454,7

#### Sales Table

In [17]:
#import transformed sales table by tyler in for platform to platform_id change
sales_df = pd.read_csv('sales.csv')
sales_df

       title_id platform_id  na_sales  eu_sales  jp_sales  other_sales
0             0         Wii     41.49     29.02      3.77         8.46
1             1         Wii     15.85     12.88      3.79         3.31
2             2         Wii     15.75     11.01      3.28         2.96
3             3          DS     11.38      9.23      6.50         2.90
4             4         Wii     14.03      9.20      2.93         2.85
...         ...         ...       ...       ...       ...          ...
15502     10662         GBA      0.01      0.00      0.00         0.00
15503      2615          GC      0.01      0.00      0.00         0.00
15504      6031         PS2      0.00      0.00      0.00         0.00
15505     10663          DS      0.00      0.01      0.00         0.00
15506     10001         GBA      0.01      0.00      0.00         0.00

[15507 rows x 6 columns]

In [18]:
#reference previous code from testing section earlier
plat_replacer = {
    "platform_id": platformdict_s
}

sales_df = sales_df.replace(plat_replacer)
sales_df

       title_id  platform_id  na_sales  eu_sales  jp_sales  other_sales
0             0            0     41.49     29.02      3.77         8.46
1             1            0     15.85     12.88      3.79         3.31
2             2            0     15.75     11.01      3.28         2.96
3             3            1     11.38      9.23      6.50         2.90
4             4            0     14.03      9.20      2.93         2.85
...         ...          ...       ...       ...       ...          ...
15502     10662            5      0.01      0.00      0.00         0.00
15503      2615           14      0.01      0.00      0.00         0.00
15504      6031            4      0.00      0.00      0.00         0.00
15505     10663            1      0.00      0.01      0.00         0.00
15506     10001            5      0.01      0.00      0.00         0.00

[15507 rows x 6 columns]

In [19]:
sales_df = sales_df.set_index(['title_id','platform_id'])
sales_df

                      na_sales  eu_sales  jp_sales  other_sales
title_id platform_id
0        0               41.49     29.02      3.77         8.46
1        0               15.85     12.88      3.79         3.31
2        0               15.75     11.01      3.28         2.96
3        1               11.38      9.23      6.50         2.90
4        0               14.03      9.20      2.93         2.85
...                        ...       ...       ...          ...
10662    5                0.01      0.00      0.00         0.00
2615     14               0.01      0.00      0.00         0.00
6031     4                0.00      0.00      0.00         0.00
10663    1                0.00      0.01      0.00         0.00
10001    5                0.01      0.00      0.00         0.00

[15507 rows x 4 columns]

In [ ]:
sales_df.dropna(subset=['title_id'])

### Juncture Table

In [20]:
#Create juncture table of title_id's and platform_id's as some titles can be on multiple platforms
#using game title table, create dictionary of game titles and id's for replacement in original vgdf with
#subset of columns game_title and platform

game_dict = game_title_df[['game_title']].to_dict('index')

for key in game_dict:
    game_dict[key] = game_dict[key]["game_title"]
    
game_dict_s = {value:key for key, value in game_dict.items()}
game_dict_s

{'Wii Sports': 0,
 'Mario Kart Wii': 1,
 'Wii Sports Resort': 2,
 'New Super Mario Bros.': 3,
 'Wii Play': 4,
 'New Super Mario Bros. Wii': 5,
 'Nintendogs': 6,
 'Mario Kart DS': 7,
 'Wii Fit': 8,
 'Wii Fit Plus': 9,
 'Kinect Adventures!': 10,
 'Grand Theft Auto V': 11,
 'Grand Theft Auto: San Andreas': 12,
 'Brain Age: Train Your Brain in Minutes a Day': 13,
 'Pokemon Diamond/Pokemon Pearl': 14,
 'Grand Theft Auto: Vice City': 15,
 'Pokemon Ruby/Pokemon Sapphire': 16,
 'Pokemon Black/Pokemon White': 17,
 'Brain Age 2: More Training in Minutes a Day': 18,
 'Gran Turismo 3: A-Spec': 19,
 'Call of Duty: Modern Warfare 3': 20,
 'Call of Duty: Black Ops': 21,
 'Pokemon X/Pokemon Y': 22,
 'Call of Duty: Black Ops 3': 23,
 'Call of Duty: Black Ops II': 24,
 'Call of Duty: Modern Warfare 2': 25,
 'Grand Theft Auto III': 26,
 'Super Smash Bros. Brawl': 27,
 'Animal Crossing: Wild World': 28,
 'Mario Kart 7': 29,
 'Halo 3': 30,
 'Pokemon HeartGold/Pokemon SoulSilver': 31,
 'Super Mario 64': 32,
 'Gran Turismo 4': 33,
 'Super Mario Galaxy': 34,
 'Pokemon Omega Ruby/Pokemon Alpha Sapphire': 35,
 'Grand Theft Auto IV': 36,
 'Gran Turismo': 37,
 'Super Mario 3D Land': 38,
 'Gran Turismo 5': 39,
 'Pokemon FireRed/Pokemon LeafGreen': 40,
 'Just Dance 3': 41,
 'Call of Duty: Ghosts': 42,
 'Halo: Reach': 43,
 'Mario Kart 64': 44,
 'New Super Mario Bros. 2': 45,
 'Halo 4': 46,
 'Final Fantasy VII': 47,
 'Just Dance 2': 48,
 'Gran Turismo 2': 49,
 'Call of Duty 4: Modern Warfare': 50,
 'Minecraft': 51,
 'Animal Crossing: New Leaf': 52,
 'Mario Party DS': 53,
 'The Elder Scrolls V: Skyrim': 54,
 'FIFA 16': 55,
 'Wii Party': 56,
 'Halo 2': 57,
 'Mario Party 8': 58,
 'Pokemon Black 2/Pokemon White 2': 59,
 'FIFA Soccer 13': 60,
 'The Sims 3': 61,
 'GoldenEye 007': 62,
 'Mario & Sonic at the Olympic Games': 63,
 'Final Fantasy X': 64,
 'Final Fantasy VIII': 65,
 'Pokémon Platinum Version': 66,
 'Grand Theft Auto: Liberty City Stories': 67,
 'Super Mario Galaxy 2': 68,
 'Star Wars Battlefront (2015)': 69,
 'Call of Duty: Advanced Warfare': 70,
 'The Legend of Zelda: Ocarina of Time': 71,
 'Crash Bandicoot 2: Cortex Strikes Back': 72,
 'Super Smash Bros. for Wii U and 3DS': 73,
 'Call of Duty: World at War': 74,
 'Battlefield 3': 75,
 'The Legend of Zelda: Twilight Princess': 76,
 'Just Dance': 77,
 'Need for Speed Underground': 78,
 'Tekken 3': 79,
 'Crash Bandicoot 3: Warped': 80,
 'Super Smash Bros. Melee': 81,
 'Mario Kart 8': 82,
 'Fallout 4': 83,
 'Mario Kart: Double Dash!!': 84,
 'Just Dance 4': 85,
 'FIFA 14': 86,
 'Need for Speed Underground 2': 87,
 'Medal of Honor: Frontline': 88,
 "Uncharted 3: Drake's Deception": 89,
 'Crash Bandicoot': 90,
 'Zumba Fitness': 91,
 'Gears of War 2': 92,
 'Uncharted 2: Among Thieves': 93,
 'FIFA 12': 94,
 'Big Brain Academy': 95,
 'Red Dead Redemption': 96,
 'FIFA 15': 97,
 'Donkey Kong Country Returns': 98,
 "Assassin's Creed III": 99,
 'Halo: Combat Evolved': 100,
 'Pokémon Emerald Version': 101,
 'Kingdom Hearts': 102,
 'Halo 3: ODST': 103,
 'Super Mario Sunshine': 104,
 'World of Warcraft': 105,
 'Driver': 106,
 'Kinect Sports': 107,
 'Gears of War 3': 108,
 'Gears of War': 109,
 'Metal Gear Solid 2: Sons of Liberty': 110,
 'Metal Gear Solid 4: Guns of the Patriots': 111,
 'Metal Gear Solid': 112,
 'The Last of Us': 113,
 'Final Fantasy XII': 114,
 'LittleBigPlanet': 115,
 'Dragon Quest IX: Sentinels of the Starry Skies': 116,
 'LEGO Star Wars: The Complete Saga': 117,
 'Resident Evil 2': 118,
 'Tekken 2': 119,
 'Cooking Mama': 120,
 'Destiny': 121,
 "Assassin's Creed II": 122,
 'Super Smash Bros.': 123,
 "Assassin's Creed": 124,
 'Batman: Arkham City': 125,
 'Forza Motorsport 3': 126,
 'Monster Hunter Freedom Unite': 127,
 'Super Mario Advance': 128,
 'Mario Kart: Super Circuit': 129,
 'Super Mario World': 130,
 'Pokemon Stadium': 131,
 'Crash Bandicoot: The Wrath of Cortex': 132,
 'Final Fantasy XIII': 133,
 'Final Fantasy IX': 134,
 'Final Fantasy X-2': 135,
 'Donkey Kong 64': 136,
 'Professor Layton and the Curious Village': 137,
 'Tomb Raider II': 138,
 'Dragon Quest VIII: Journey of the Cursed King': 139,
 'Diablo III': 140,
 'Super Mario Bros. 3': 141,
 'New Super Mario Bros. U': 142,
 'The Legend of Zelda: Phantom Hourglass': 143,
 'Tomodachi Life': 144,
 'Medal of Honor: Rising Sun': 145,
 'Fable III': 146,
 'Microsoft Flight Simulator': 147,
 'Guitar Hero II': 148,
 'Resident Evil 5': 149,
 'Grand Theft Auto: Vice City Stories': 150,
 'FIFA Soccer 11': 151,
 'Resident Evil': 152,
 "Tony Hawk's Pro Skater": 153,
 'Warzone 2100': 154,
 'Spyro the Dragon': 155,
 "Link's Crossbow Training": 156,
 'Guitar Hero III: Legends of Rock': 157,
 'Fallout 3': 158,
 'Pokemon Mystery Dungeon: Explorers of Time/Explorers of Darkness': 159,
 "Uncharted: Drake's Fortune": 160,
 'Madden NFL 06': 161,
 'Diddy Kong Racing': 162,
 'Monster Hunter Freedom 3': 163,
 'God of War III': 164,
 'StarCraft II: Wings of Liberty': 165,
 'Crash Team Racing': 166,
 'FIFA 17': 167,
 'Driver 2': 168,
 'The Simpsons: Hit & Run': 169,
 "Tony Hawk's Pro Skater 2": 170,
 'Animal Crossing: City Folk': 171,
 'The Lord of the Rings: The Two Towers': 172,
 'Forza Motorsport 4': 173,
 'Tomb Raider': 174,
 'The Legend of Zelda: The Wind Waker': 175,
 'Mario & Sonic at the Olympic Winter Games': 176,
 "Luigi's Mansion: Dark Moon": 177,
 'Splatoon': 178,
 'Madden NFL 2005': 179,
 'Madden NFL 07': 180,
 'Spider-Man: The Movie': 181,
 'Dragon Quest VII: Warriors of Eden': 182,
 'Uncharted: The Nathan Drake Collection': 183,
 'God of War': 184,
 'Nintendo Land': 185,
 'Michael Jackson: The Experience': 186,
 "Tony Hawk's Pro Skater 3": 187,
 'Winning Eleven: Pro Evolution Soccer 2007': 188,
 'The Elder Scrolls IV: Oblivion': 189,
 'Need for Speed: Most Wanted': 190,
 'Resistance: Fall of Man': 191,
 'Kingdom Hearts II': 192,
 'Fable II': 193,
 'Halo 5: Guardians': 194,
 'Super Mario 3D World': 195,
 'Batman: Arkham Asylum': 196,
 "Assassin's Creed: Revelations": 197,
 'Namco Museum': 198,
 'Metal Gear Solid 3: Snake Eater': 199,
 'Daxter': 200,
 'Warcraft II: Tides of Darkness': 201,
 'FIFA Soccer 06': 202,
 'EyeToy Play': 203,
 "Uncharted 4: A Thief's End": 204,
 'Gran Turismo 5 Prologue': 205,
 'Street Fighter IV': 206,
 'Frogger': 207,
 'Madden NFL 2003': 208,
 'Watch Dogs': 209,
 'Half-Life': 210,
 'FIFA Soccer 07': 211,
 'The Legend of Zelda: Skyward Sword': 212,
 'Carnival Games': 213,
 'World of Warcraft: The Burning Crusade': 214,
 'Fallout: New Vegas': 215,
 'God of War II': 216,
 'Forza Motorsport 2': 217,
 'World Soccer Winning Eleven 9': 218,
 'Namco Museum Vol.3': 219,
 'Tekken Tag Tournament': 220,
 'Far Cry 4': 221,
 'Star Fox 64': 222,
 'Professor Layton and the Diabolical Box': 223,
 'Left 4 Dead 2': 224,
 'Namco Museum: 50th Anniversary': 225,
 'EA Sports Active': 226,
 "Assassin's Creed: Unity": 227,
 "Tony Hawk's Underground": 228,
 "Assassin's Creed IV: Black Flag": 229,
 'Monster Hunter 4 Ultimate': 230,
 'MotorStorm': 231,
 'Tekken 5': 232,
 'Sports Champions': 233,
 'NBA 2K16': 234,
 'World Soccer Winning Eleven 8 International': 235,
 'Flash Focus: Vision Training in Minutes a Day': 236,
 'Namco Museum Vol.1': 237,
 "Mario & Luigi: Bowser's Inside Story": 238,
 'Big Brain Academy: Wii Degree': 239,
 'Nintendogs + cats': 240,
 'Batman: Arkham Knight': 241,
 'Mario & Sonic at the London 2012 Olympic Games': 242,
 'LEGO Indiana Jones: The Original Adventures': 243,
 "Resident Evil Director's Cut": 244,
 'Ratchet & Clank: Size Matters': 245,
 'Just Dance 2014': 246,
 'The Sims: Unleashed': 247,
 'Super Paper Mario': 248,
 "Harry Potter and the Sorcerer's Stone": 249,
 'The Witcher 3: Wild Hunt': 250,
 'Resident Evil 3: Nemesis': 251,
 'Spyro: Year of the Dragon': 252,
 'FIFA Soccer 2005': 253,
 'Battlefield 4': 254,
 'MySims': 255,
 'Friend Collection': 256,
 "Tony Hawk's Pro Skater 4": 257,
 'Midnight Club 3: DUB Edition': 258,
 'Banjo-Kazooie': 259,
 'SOCOM: U.S. Navy SEALs': 260,
 'Guitar Hero: World Tour': 261,
 'Gran Turismo 6': 262,
 'Jak and Daxter: The Precursor Legacy': 263,
 'Pokemon Snap': 264,
 'FIFA Soccer 10': 265,
 'Pro Evolution Soccer 2008': 266,
 'Resident Evil 4': 267,
 "Tom Clancy's The Division": 268,
 'Star Wars: Battlefront': 269,
 'Doom II: Hell on Earth': 270,
 'The Simpsons: Road Rage': 271,
 'Cooking Mama 2: Dinner With Friends': 272,
 "Luigi's Mansion": 273,
 'Star Wars: Battlefront II': 274,
 'WWF SmackDown!': 275,
 'Croc: Legend of the Gobbos': 276,
 'The Getaway': 277,
 'Tomb Raider III: Adventures of Lara Croft': 278,
 'James Bond 007: Agent Under Fire': 279,
 'LEGO Star Wars: The Video Game': 280,
 'Rugrats in Paris: The Movie': 281,
 "Spyro 2: Ripto's Rage!": 282,
 'Left 4 Dead': 283,
 "Assassin's Creed: Brotherhood": 284,
 'Clubhouse Games': 285,
 'Battlefield: Bad Company 2': 286,
 'Guitar Hero: On Tour': 287,
 'Far Cry 3': 288,
 'Monster Hunter 4': 289,
 'Borderlands': 290,
 'Tekken 4': 291,
 'LittleBigPlanet 2': 292,
 'Grand Theft Auto 2': 293,
 'Spider-Man 2': 294,
 'FIFA Soccer 2003': 295,
 'Crash Bash': 296,
 'LEGO Batman: The Videogame': 297,
 'Metal Gear Solid V: The Phantom Pain': 298,
 'The Legend of Zelda: Spirit Tracks': 299,
 'WWF War Zone': 300,
 "The Legend of Zelda: Majora's Mask": 301,
 'Professor Layton and the Unwound Future': 302,
 'Rugrats: Search For Reptar': 303,
 'English Training: Have Fun Improving Your Skills!': 304,
 'James Bond 007: Nightfire': 305,
 'Ratchet & Clank': 306,
 'Mario Party 9': 307,
 'Star Wars Episode III: Revenge of the Sith': 308,
 'Max Payne': 309,
 'The Lord of the Rings: The Return of the King': 310,
 "Assassin's Creed Syndicate": 311,
 'True Crime: Streets of LA': 312,
 'Wii Music': 313,
 'Gran Turismo (PSP)': 314,
 'Monster Hunter X': 315,
 'Tekken': 316,
 'L.A. Noire': 317,
 'Madden NFL 16': 318,
 'Yokai Watch 2 Ganso/Honke': 319,
 '007: Tomorrow Never Dies': 320,
 'WWF SmackDown! 2: Know Your Role': 321,
 'Crisis Core: Final Fantasy VII': 322,
 'God of War: Chains of Olympus': 323,
 'Dance Central': 324,
 'Enter the Matrix': 325,
 'Super Mario Maker': 326,
 'Rhythm Heaven': 327,
 'Ace Combat 04: Shattered Skies': 328,
 'Club Penguin: Elite Penguin Force': 329,
 'Animal Crossing': 330,
 'Sonic Rush': 331,
 'Resident Evil 6': 332,
 'Halo: The Master Chief Collection': 333,
 'FIFA Soccer 08': 334,
 'Spider-Man': 335,
 'Need for Speed III: Hot Pursuit': 336,
 'Star Wars Episode I Racer': 337,
 'Personal Trainer: Cooking': 338,
 'Heavy Rain': 339,
 'Mass Effect 2': 340,
 'Dragon Ball Z: Budokai': 341,
 'Madden NFL 2002': 342,
 'Borderlands 2': 343,
 'The Legend of Zelda: A Link Between Worlds': 344,
 'The Sims: Vacation': 345,
 'Mass Effect 3': 346,
 'Kung Fu Panda': 347,
 'Epic Mickey': 348,
 'Saints Row 2': 349,
 'Rayman': 350,
 'Killzone 2': 351,
 "Tom Clancy's Splinter Cell": 352,
 'WWE SmackDown! Shut Your Mouth': 353,
 'Gears of War: Ultimate Edition': 354,
 'NBA 2K13': 355,
 'Dragon Ball Z: Budokai Tenkaichi 3': 356,
 'Middle-Earth: Shadow of Mordor': 357,
 'The Sims: Livin Large': 358,
 'World Soccer Winning Eleven 6 International': 359,
 'Devil May Cry': 360,
 'Animal Crossing: Happy Home Designer': 361,
 'The Sims 4': 362,
 'Star Wars: The Old Republic': 363,
 'Sonic Heroes': 364,
 'Kirby Super Star Ultra': 365,
 'Hitman 2: Silent Assassin': 366,
 'Wave Race 64': 367,
 'SOCOM II: U.S. Navy SEALs': 368,
 'WWE SmackDown! vs. RAW 2006': 369,
 'inFAMOUS': 370,
 'Pac-Man Collection': 371,
 'Mass Effect': 372,
 'WarioWare: Smooth Moves': 373,
 'Cooking Mama: Cook Off': 374,
 "Super Mario World 2: Yoshi's Island": 375,
 'Titanfall': 376,
 'Sonic Mega Collection Plus': 377,
 'Sega Superstars Tennis': 378,
 'World Soccer Winning Eleven 7 International': 379,
 'Hot Shots Golf 3': 380,
 'Call of Duty: Finest Hour': 381,
 'Zumba Fitness 2': 382,
 'Syphon Filter': 383,
 'Imagine: Babyz': 384,
 'Colin McRae Rally': 385,
 'Madden NFL 13': 386,
 'The Elder Scrolls III: Morrowind': 387,
 'Mortal Kombat': 388,
 "Yoshi's Story": 389,
 'Command & Conquer: Red Alert': 390,
 "Skylanders: Spyro's Adventure": 391,
 'BioShock': 392,
 'Madden NFL 10': 393,
 'Medal of Honor': 394,
 'WWE SmackDown! vs. Raw': 395,
 'Metroid Prime': 396,
 'Finding Nemo': 397,
 'Myst': 398,
 'Need for Speed: Hot Pursuit': 399,
 'Imagine: Fashion Designer': 400,
 'WWE SmackDown! Here Comes the Pain': 401,
 'Star Wars: The Force Unleashed': 402,
 "Yoshi's Island DS": 403,
 'Hot Shots Golf': 404,
 'Killzone 3': 405,
 "A Bug's Life": 406,
 'WWF SmackDown! Just Bring It': 407,
 'Mortal Kombat Trilogy': 408,
 'NBA Street': 409,
 'Professor Layton and the Last Specter': 410,
 'Monster Hunter Tri': 411,
 'Jak II': 412,
 'inFAMOUS: Second Son': 413,
 'Ratchet & Clank: Going Commando': 414,
 'Tekken 6': 415,
 'The Sims': 416,
 'Sonic and the Secret Rings': 417,
 'Saints Row: The Third': 418,
 'Pokémon Stadium 2': 419,
 'Call of Duty 3': 420,
 'The Legend of Zelda: A Link to the Past': 421,
 'Onimusha: Warlords': 422,
 'Mortal Kombat X': 423,
 'Mario Party': 424,
 'Madden NFL 12': 425,
 'LEGO Star Wars II: The Original Trilogy': 426,
 'Madden NFL 11': 427,
 'Mario vs. Donkey Kong: Mini-Land Mayhem!': 428,
 'Skate 3': 429,
 'Burnout 3: Takedown': 430,
 'Yokai Watch 2 Shinuchi': 431,
 'Need for Speed: Shift': 432,
 'Final Fantasy XIII-2': 433,
 'Call Of Duty 2: Big Red One': 434,
 'Fable': 435,
 'Hannah Montana': 436,
 'Skylanders Giants': 437,
 'Medal of Honor Heroes': 438,
 'Star Wars: Shadows of the Empire': 439,
 'Midnight Club: Street Racing': 440,
 'Pac-Man: Adventures in Time': 441,
 'Halo Wars': 442,
 'God of War Collection': 443,
 'ESPN NFL 2K5': 444,
 'Mario Strikers Charged': 445,
 'NBA 2K12': 446,
 'Style Savvy': 447,
 'Harry Potter and the Chamber of Secrets': 448,
 'Super Mario All-Stars: Limited Edition': 449,
 'FIFA Soccer 09': 450,
 'Ratchet & Clank Future: Tools of Destruction': 451,
 'NBA Live 2005': 452,
 'Killzone: Shadow Fall': 453,
 'Ghostbusters: The Video Game (DS Version)': 454,
 'Monster Hunter Freedom 2': 455,
 'WWE SmackDown vs. RAW 2007': 456,
 'Ratchet & Clank: Up Your Arsenal': 457,
 'Art Academy': 458,
 'Dragon Age: Origins': 459,
 'Madden NFL 08': 460,
 'Sonic Adventure 2 Battle': 461,
 'Pokémon Colosseum': 462,
 'Deca Sports': 463,
 'Madden NFL 09': 464,
 'Crazy Taxi': 465,
 'Perfect Dark': 466,
 'Game Party': 467,
 'Tomb Raider (2013)': 468,
 'Marvel: Ultimate Alliance': 469,
 'PES 2009: Pro Evolution Soccer': 470,
 'Mario Party 2': 471,
 'Rockstar Games Double Pack: Grand Theft Auto III & Grand Theft Auto Vice City': 472,
 'LEGO Harry Potter: Years 1-4': 473,
 'Mortal Kombat: Deadly Alliance': 474,
 'Resistance 2': 475,
 'Pure': 476,
 'Tomb Raider: The Last Revelation': 477,
 'NBA 2K14': 478,
 'Mario Party 4': 479,
 'uDraw Studio': 480,
 'Midnight Club: Los Angeles': 481,
 'Final Fantasy Tactics': 482,
 'Twisted Metal 2': 483,
 'Halo: Combat Evolved Anniversary': 484,
 'Need for Speed Carbon: Own the City': 485,
 "The Sims: Bustin' Out": 486,
 'Riven: The Sequel to Myst': 487,
 "Tom Clancy's Rainbow Six: Vegas 2": 488,
 'Sonic Adventure': 489,
 'pro evolution soccer 2011': 490,
 'Dragon Ball Z: Budokai 2': 491,
 'ATV Offroad Fury': 492,
 'Dino Crisis': 493,
 'Need for Speed: ProStreet': 494,
 'Tetris Plus': 495,
 'Theme Hospital': 496,
 'Need for Speed (2015)': 497,
 'Monopoly': 498,
 'Batman: Arkham Origins': 499,
 'Dead Island': 500,
 'Guitar Hero': 501,
 'Kinect: Disneyland Adventures': 502,
 'WCW/nWo Revenge': 503,
 'Bloodborne': 504,
 'NBA 2K15': 505,
 'Yu-Gi-Oh! The Duelists of the Roses': 506,
 'Half-Life 2': 507,
 'The Incredibles': 508,
 "Tony Hawk's Underground 2": 509,
 'Kinect Sports: Season Two': 510,
 'Skylanders SWAP Force': 511,
 'WWE SmackDown vs Raw 2008': 512,
 'My Fitness Coach': 513,
 'Resident Evil - Code: Veronica X': 514,
 "The Legend of Zelda: Majora's Mask 3D": 515,
 'Just Dance Kids': 516,
 'Mario Tennis': 517,
 'Grand Theft Auto': 518,
 'James Bond 007: Everything or Nothing': 519,
 'WarioWare Touched!': 520,
 'Need For Speed: High Stakes': 521,
 'Cool Boarders 3': 522,
 'LEGO Marvel Super Heroes': 523,
 'Guild Wars 2': 524,
 'Pokemon Ranger: Shadows of Almia': 525,
 'God of War: Ascension': 526,
 'Pro Evolution Soccer 2010': 527,
 'Just Dance 2015': 528,
 'Yokai Watch Busters': 529,
 'TOCA Touring Car Championship': 530,
 'Paper Mario: Sticker Star': 531,
 "Sonic's Ultimate Genesis Collection": 532,
 'Super Monkey Ball: Banana Blitz': 533,
 'Kirby: Nightmare in Dream Land': 534,
 'Wario Land 4': 535,
 "Onimusha 2: Samurai's Destiny": 536,
 'Cool Boarders 2': 537,
 'Paper Mario: The Thousand-Year Door': 538,
 'Dissidia: Final Fantasy': 539,
 'Sonic Advance': 540,
 'Spyro: Season of Ice': 541,
 'Dance Dance Revolution X2': 542,
 'New Super Luigi U': 543,
 'Prince of Persia: The Sands of Time': 544,
 'Scribblenauts': 545,
 'BioShock 2': 546,
 "Devil May Cry 3: Dante's Awakening Special Edition": 547,
 'Rock Band 2': 548,
 'Sonic Unleashed': 549,
 "High School Musical: Makin' the Cut!": 550,
 'Pro Evolution Soccer 2012': 551,
 'Saints Row': 552,
 'Star Wars: Knights of the Old Republic': 553,
 'Hitman: Absolution': 554,
 'ATV Offroad Fury 2': 555,
 'Forza Motorsport 5': 556,
 'Madden NFL 25': 557,
 'Pokemon Ranger': 558,
 'Mario & Luigi: Superstar Saga': 559,
 'Star Wars: Rogue Squadron': 560,
 'The Sims: House Party': 561,
 'Your Shape featuring Jenny McCarthy': 562,
 'Syphon Filter 2': 563,
 "Tom Clancy's Rainbow Six: Siege": 564,
 'Call of Duty: Roads to Victory': 565,
 'SimCity 2000': 566,
 'Dance Dance Revolution Extreme': 567,
 'Tetris DS': 568,
 'Final Fantasy Tactics Advance': 569,
 'Far Cry: Primal': 570,
 'Toy Story 3: The Video Game': 571,
 'Final Fantasy III': 572,
 "Kirby's Epic Yarn": 573,
 'Project Gotham Racing': 574,
 'Need for Speed: Hot Pursuit 2': 575,
 'Mario Sports Mix': 576,
 'Dynasty Warriors 4': 577,
 'Parasite Eve': 578,
 'Scooby-Doo! Night of 100 Frights': 579,
 'Project Gotham Racing (JP weekly sales)': 580,
 'Need for Speed: Most Wanted 5-1-0': 581,
 'Portal 2': 582,
 "Devil May Cry 3: Dante's Awakening": 583,
 'Derby Stallion': 584,
 'Dead Rising': 585,
 'NBA 2K11': 586,
 'Wipeout: The Game': 587,
 'The Sims 2: Pets': 588,
 'Battlefield: Hardline': 589,
 'Metal Gear Solid: Peace Walker': 590,
 'World of Warcraft: Cataclysm': 591,
 'Tetris Worlds': 592,
 'Need For Speed: Undercover': 593,
 'Dance Dance Revolution: Hottest Party': 594,
 'Mario Party 5': 595,
 'Sim Theme Park': 596,
 'Warcraft: Orcs & Humans': 597,
 'Spec Ops: Airborne Commando': 598,
 'Kingdom Hearts: Birth by Sleep': 599,
 'UFC 2009 Undisputed': 600,
 'Dark Souls': 601,
 'Yu-Gi-Oh! The Eternal Duelist Soul': 602,
 "Tom Clancy's Splinter Cell: Conviction": 603,
 'Pokemon Mystery Dungeon: Red/Blue Rescue Team': 604,
 'R4: Ridge Racer Type 4': 605,
 'SoulCalibur II': 606,
 'Mario & Luigi: Dream Team': 607,
 'Pokémon Mystery Dungeon: Blue Rescue Team': 608,
 'Sonic Mega Collection': 609,
 'PGR4 - Project Gotham Racing 4': 610,
 'Kingdom Hearts 358/2 Days': 611,
 'Dance Central 2': 612,
 'Rayman Raving Rabbids: TV Party': 613,
 'SOCOM: U.S. Navy SEALs: Combined Assault': 614,
 "Peter Jackson's King Kong: The Official Game of the Movie": 615,
 'Donkey Kong Country': 616,
 'Need for Speed: The Run': 617,
 'Madden NFL 15': 618,
 '1080°: TenEighty Snowboarding': 619,
 'NBA Live 2004': 620,
 'Dead Space': 621,
 'Call of Duty 2': 622,
 'Forza Horizon': 623,
 'TouchMaster': 624,
 'Fire Emblem: Awakening': 625,
 'DriveClub': 626,
 'Mortal Kombat vs. DC Universe': 627,
 'Tenchu: Stealth Assassins': 628,
 'Dragon Age: Inquisition': 629,
 'Sonic Classic Collection': 630,
 'Spyro: Enter the Dragonfly': 631,
 'Devil May Cry 2': 632,
 'Burnout Paradise': 633,
 'BioShock Infinite': 634,
 'Hot Shots Golf: Open Tee': 635,
 'Kirby Squeak Squad': 636,
 "Tom Clancy's Rainbow Six: Vegas": 637,
 'Crash Nitro Kart': 638,
 'Star Wars: Dark Forces': 639,
 'NBA Street Vol. 2': 640,
 'Def Jam Vendetta': 641,
 'Who wants to be a millionaire': 642,
 'Scooby Doo and the Cyber Chase': 643,
 'Dragon Ball Z: Budokai 3': 644,
 'Jet Moto 2': 645,

In [21]:
#Create new DF with just title and platform from original DF with older platforms removed

title_plat_df = vgdf_plat_clean[['Name','Platform']]
title_plat_df

                                                   Name Platform
0                                            Wii Sports      Wii
2                                        Mario Kart Wii      Wii
3                                     Wii Sports Resort      Wii
6                                 New Super Mario Bros.       DS
7                                              Wii Play      Wii
...                                                 ...      ...
16593                Woody Woodpecker in Crazy Castle 5      GBA
16594                     Men in Black II: Alien Escape       GC
16595  SCORE International Baja 1000: The Official Game      PS2
16596                                        Know How 2       DS
16597                                  Spirits & Spells      GBA

[15507 rows x 2 columns]

In [22]:
#referencing replacer dictionary from above
title_plat_replacer = {
    "Name": game_dict_s,
    "Platform": platformdict_s
}

title_plat_id = title_plat_df.replace(title_plat_replacer)
title_plat_id = title_plat_id.rename(columns={'Name':'title_id','Platform':'platform_id'})
title_plat_id

       title_id  platform_id
0             0            0
2             1            0
3             2            0
6             3            1
7             4            0
...         ...          ...
16593     10662            5
16594      2615           14
16595      6031            4
16596     10663            1
16597     10001            5

[15507 rows x 2 columns]

In [23]:
# title_plat_id_reduced = title_plat_id.drop_duplicates(subset=['title_id', 'platform_id'], keep='first')
# title_plat_id_reduced
title_plat_id_test = title_plat_id[title_plat_id.duplicated(subset=['title_id','platform_id'], keep=False)]
title_plat_id_test

Empty DataFrame
Columns: [title_id, platform_id]
Index: []

## Review Helper

In [25]:
# created below tables to assist in formatting of review_df
review_helper = vgdf_plat_clean[['Name','Platform']]
review_helper["name_id"] = review_helper["Name"]
review_helper["platform_id"] = review_helper["Platform"]
review_helper

<ipython-input-25-c0207c2bcdd0>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  review_helper["name_id"] = review_helper["Name"]
<ipython-input-25-c0207c2bcdd0>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  review_helper["platform_id"] = review_helper["Platform"]

,Name,Platform,name_id,platform_id
0,Wii Sports,Wii,Wii Sports,Wii
2,Mario Kart Wii,Wii,Mario Kart Wii,Wii
3,Wii Sports Resort,Wii,Wii Sports Resort,Wii
6,New Super Mario Bros.,DS,New Super Mario Bros.,DS
7,Wii Play,Wii,Wii Play,Wii
...,...,...,...,...
16593,Woody Woodpecker in Crazy Castle 5,GBA,Woody Woodpecker in Crazy Castle 5,GBA
16594,Men in Black II: Alien Escape,GC,Men in Black II: Alien Escape,GC
16595,SCORE International Baja 1000: The Official Game,PS2,SCORE International Baja 1000: The Official Game,PS2
16596,Know How 2,DS,Know How 2,DS
16597,Spirits & Spells,GBA,Spirits & Spells,GBA

In [26]:
review_helper = review_helper.replace(title_plat_replacer)
review_helper

,Name,Platform,name_id,platform_id
0,0,0,Wii Sports,Wii
2,1,0,Mario Kart Wii,Wii
3,2,0,Wii Sports Resort,Wii
6,3,1,New Super Mario Bros.,DS
7,4,0,Wii Play,Wii
...,...,...,...,...
16593,10662,5,Woody Woodpecker in Crazy Castle 5,GBA
16594,2615,14,Men in Black II: Alien Escape,GC
16595,6031,4,SCORE International Baja 1000: The Official Game,PS2
16596,10663,1,Know How 2,DS
16597,10001,5,Spirits & Spells,GBA

In [27]:
review_helper.to_csv('review_helper.csv')

In [28]:
review_helper.loc[review_helper['Name']==190]

      Name  Platform                      name_id platform_id
252    190         4  Need for Speed: Most Wanted         PS2
498    190         3  Need for Speed: Most Wanted         PS3
1173   190         2  Need for Speed: Most Wanted        X360
1742   190        17  Need for Speed: Most Wanted         PSV
2005   190        10  Need for Speed: Most Wanted          XB
3585   190        14  Need for Speed: Most Wanted          GC
5900   190        11  Need for Speed: Most Wanted          PC
6149   190        15  Need for Speed: Most Wanted        WiiU
6278   190         1  Need for Speed: Most Wanted          DS
6492   190         5  Need for Speed: Most Wanted         GBA

## REVIEW DATA IMPORT

In [48]:
review_df = pd.read_csv("reviews_test.csv")
review_df.columns

Index(['Unnamed: 0', 'Name', 'Platform', 'Name_id', 'Platform_id',
       'Review Source', 'Review Score', 'Review Body'],
      dtype='object')

In [49]:
review_df.drop(columns=["Unnamed: 0", "Name", "Platform"], inplace=True)
review_df

,Name_id,Platform_id,Review Source,Review Score,Review Body
0,0,0,Official Nintendo Magazine UK,90,The ideal way to get into Wii gaming. It's fun...
1,0,0,GameZone,85,"Sure, it lacks goals and can be beaten very qu..."
2,0,0,GameDaily,80,Wii Sports certainly won't be hailed as the mo...
3,0,0,GamingExcellence,77,"Despite these two solo modes, Wii Sports is re..."
4,0,0,My Gamer,74,This is one you can feel confident about showi...
...,...,...,...,...,...
492,120,1,IGN,70,Cooking Mama does what it sets out to do very ...
493,120,1,Gaming Age,67,Whether you are a master in the kitchen or if ...
494,120,1,Nintendojo,64,"Controls are tight and responsive, and offer u..."
495,120,1,Modojo,60,The cheery 'bloop-de-bleep' repeated throughou...
496,120,1,GameCritics,40,The potential is clearly here for another out-...

In [52]:
review_df.rename(columns={"Name_id" : "title_id", "Platform_id" : "platform_id", "Review Source": "source",\
                 "Review Score" : "score", "Review Body" : "body"}, inplace=True)
review_df

,title_id,platform_id,source,score,body
0,0,0,Official Nintendo Magazine UK,90,The ideal way to get into Wii gaming. It's fun...
1,0,0,GameZone,85,"Sure, it lacks goals and can be beaten very qu..."
2,0,0,GameDaily,80,Wii Sports certainly won't be hailed as the mo...
3,0,0,GamingExcellence,77,"Despite these two solo modes, Wii Sports is re..."
4,0,0,My Gamer,74,This is one you can feel confident about showi...
...,...,...,...,...,...
492,120,1,IGN,70,Cooking Mama does what it sets out to do very ...
493,120,1,Gaming Age,67,Whether you are a master in the kitchen or if ...
494,120,1,Nintendojo,64,"Controls are tight and responsive, and offer u..."
495,120,1,Modojo,60,The cheery 'bloop-de-bleep' repeated throughou...
496,120,1,GameCritics,40,The potential is clearly here for another out-...

## DATA PUSH TO POSTGRES

In [29]:
rds_connection_string = f'{username}:{password}@localhost:5432/Video_Game_Sales_Review'
engine = create_engine(f'postgresql://{rds_connection_string}')

In [53]:
vg_genre_df.to_sql(name='genre', con=engine, if_exists='append', index=True)

In [54]:
vg_platform_df.to_sql(name='platform', con=engine, if_exists='append', index=True)

In [55]:
vg_publisher_df.to_sql(name='publisher', con=engine, if_exists='append', index=True)

In [56]:
game_title_df.to_sql(name='title', con=engine, if_exists='append', index=True)

In [57]:
title_plat_id.to_sql(name='title_platform', con=engine, if_exists='append', index=False)

In [58]:
sales_df.to_sql(name='sales', con=engine, if_exists='append', index=True)

In [59]:
review_df.to_sql(name='review', con=engine, if_exists='append', index=False)